//font-weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;

//fonts
$base-font-size: 16px;


//line-heights
$base-line-height: 24px;


$big-screen-max: 1024px;
$small-screen-max: 480px;
$container-width: 960px;
$background-height: 535px;


//colors
$white: #FFFFFF;
$black: #000000;
$blue-23: #173753;
$gray-225: #e1e4e7;
$blue-91: #5B7186;
$blue-2: #0276DB;
$gold-96: #60633d;
$gray-173: #adb9c5;
